* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  background: #f1f5f8;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.3rem;
}

/* helper classes*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #476a2e;
  border: 2px solid #476a2e;
  padding: 0.45rem 0.8rem;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
  display: inline-block;
}
.btn-primary {
  background: #476a2e;
  color: #fff;
  border-color: transparent;
}
.btn-primary:hover {
  /* color: #476a2e; */
  background: #d4e6a5;
  border-color: #d4e6a5;
  color: #708b5d;
}

/* Navbar */
.app-header-container {
  border-bottom: 2px solid #476a2e;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
  background-color: #fff;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
}
.app-header img {
  width: 12rem;
  cursor: pointer;
}
.app-header a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: 700;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.3s linear;
}
.app-header a:hover {
  color: #476a2e;
}

/**** Home ****/
/* main */
.home-container {
  margin: 0 auto;
  width: 85vw;
  max-width: 1170px;
}
/* Search component */
.search-container {
  margin: 6rem auto;
  width: 85vw;
  max-width: 40rem;
  background: #fff;
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
}
.search-container label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #476a2e;
}
.search-container form input {
  width: 100%;
  border: transparent;
  background: #f1f5f8;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* Main title */
.main-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  gap: 2rem;
}
.cocktails-container img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.cocktail-card {
  background: #fff;
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}
.cocktail-card:hover {
  box-shadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}
.cocktail-info {
  padding: 1.5rem;
}
.cocktail-info h3,
.cocktail-info h4,
.cocktail-info p {
  margin-bottom: 0.3rem;
}
.cocktail-info h3 {
  font-size: 2rem;
}
.cocktail-info p {
  color: #afafaf;
  margin-bottom: 0.5rem;
}
.cocktail-info .btn-details {
  padding: 0.25rem 0.4rem;
}
.cocktail-info .btn-details:hover {
  background: #d4e6a5;
  border-color: #d4e6a5;
  color: rgb(112, 139, 93);
}
.no-match {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3.5rem;
}

/**** Single Cocktail ****/
.single-cocktail-container {
  margin: 5rem auto;
  width: 85vw;
  max-width: 1170px;
}
.single-cocktail-title {
  text-align: center;
}
.single-cocktail-title h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.single-cocktail-details {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.single-cocktail-details img {
  flex: 2;
  width: 100%;
  display: block;
}
.single-cocktitle-details-text {
  flex: 3;
}
.single-cocktitle-details-text p {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.8;
  margin-bottom: 1.25rem;
}
.single-cocktitle-details-text-title {
  background: #d4e6a5;
  padding: 0.25rem 0.3rem 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #476a2e;
  margin-right: 0.7rem;
}
.ingredients {
  margin-right: 0.5rem;
}

/**** About page ****/
.about {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.about p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
