$background-color-orange: #fcb440;
$background-color-white: #ffffff;
$header-background-top-color: #e1e1e1;
$footer-background-color: #636363;
$text-color: #636363;
$text-color-white: #fdf9f2;
$header-title-text-color: #f9ecd9;
