.ref {
    display: flex;
    justify-content: center;
    gap:1.5rem;
    flex-wrap: wrap;
    padding:3rem 0;
    align-items:center;
}
.ref__logo {
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); 
      transition: all .8s ease-in-out; 
      width: 150px;
      &:hover{
        filter: none;
        -webkit-filter: grayscale(0);
        transform: scale(1.01);
      }
}