@import './variables';
@font-face {
	font-family: 'Lato-Black';
	src: url('../assets/fonts/Lato-Black.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../assets/fonts/Lato-Light.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 50px;
	max-height: 50px;
	object-fit: contain;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	padding: 2rem;

	header {
		.title {
			display: flex;
			flex-direction: column;
			align-items: center;

			h1 {
				font-family: 'Lato-Black';
				font-size: 4rem;
			}

			h2 {
				font-family: 'Lato-Light';
				font-size: 2rem;
			}
		}
	}

	main {
		flex: 1;

		.featureContainer {
			display: flex;
			justify-content: center;
			gap: 2rem;
			width: 95vw;
			max-width: 1800px;

			.featureCard {
				display: flex;
				gap: 2rem;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-family: 'Lato-Black';

				.circle {
					z-index: 100;
					width: 200px;
					height: 200px;
					border-radius: 50%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

					background-image: url('../assets/images/base.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;

					&:hover {
						background-image: url('../assets/images/BaseDark.png');
						cursor: pointer;

						+ .featureTitle {
							color: #4bcaff;
						}
					}
				}

				.featureTitle {
					text-transform: uppercase;
					font-size: 20px;
				}

				.featureText {
					font-family: 'Lato-Light';
					text-align: center;
					font-size: 24px;
					max-width: 400px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1600px) {
	body {
		text-align: center;
		main {
			.featureContainer {
				flex-wrap: wrap;

				gap: 2rem;

				.featureCard {
					.featureTitle {
						font-size: 30px;
					}

					.featureText {
						font-size: 28px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 770px) {
	body {
		header {
			.title {
				h1 {
					font-size: 2.5rem;
				}

				h2 {
					font-size: 1.5rem;
				}
			}
		}

		main {
			.featureContainer {
				gap: 5rem;
			}
		}
	}
}
