@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');
$primary: #bb1133;
$secondary: #997754;
$footer: #333333;
$grey: #f4f4f4;
$white: #ffffff;
$black: #000000;

$fontSize: 16px;
$fontFamily: 'Archivo Narrow', sans-serif;

$transition: all 0.3s ease;

/* mixins */

@mixin dugme($txtColor: $white, $bgColor: $primary, $borderHover: $primary) {
  border: 2px solid $bgColor;
  border-radius: 5px;
  color: $txtColor;
  background: $bgColor;
  text-transform: capitalize;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background: $txtColor;
    color: $bgColor;
    border-color: $borderHover;
  }
}

@mixin flex($align, $justify, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

/* Basic styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $black;
  background: $white;
}

.container {
  max-width: 90%;
  margin: auto;
}

.container2 {
  max-width: 70%;
  margin: auto;
}

/* navbar */

.navigation {
  background-color: $white;
  padding: 10px 0;
  display: flex;

  .nav-box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 70px;

    @media (max-width: 700px) {
      justify-content: space-evenly;
    }

    .nav-logo {
      display: flex;

      img {
        width: 140px;
        height: 60px;
      }
    }

    .nav-left-menu {
      flex: 3 2 70%;
      justify-items: start;
      color: $white;

      @media (max-width: 700px) {
        max-width: 50px;
      }

      ul {
        display: flex;
        align-items: center;
        padding: 0 30px;

        @media (max-width: 700px) {
          visibility: hidden;
        }

        li {
          display: flex;
          justify-content: center;

          @media (max-width: 700px) {
            visibility: hidden;
          }

          a {
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            padding: 0 18px;
            color: $black;

            @media (max-width: 700px) {
              visibility: hidden;
            }

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .nav-right-menu {
      display: flex;
      align-items: center;

      @media (max-width: 1300px) {
        flex-direction: column;
      }

      @media (max-width: 700px) {
        justify-content: space-evenly;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: $black;
        padding: 0 18px 0 0;

        @media (max-width: 1300px) {
          padding: 5px;
          ;
        }

        &:hover {
          color: $primary;
        }
      }

      button {
        @include dugme($white, $primary);
      }
    }
  }
}

/* hero */

.hero {
  background-image: linear-gradient(89.75deg,
      rgba(252, 250, 250, 0.01) -11.31%,
      rgba(252, 250, 250, 0) 91.78%),
    url(img/bg-1.jpg);
  background-position: center;
  background-size: cover;

  .container {
    height: 60vh;
    color: $white;
    @include flex(left, center, column);

    @media (max-width: 515px) {
      height: 80vh;
      flex-direction: column;
    }

    h1 {
      font-weight: 700;
      font-family: $fontFamily;
      font-size: 75px;
      line-height: 87px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-shadow: 0px 5px 10px #000000;

      @media (max-width: 420px) {
        font-size: 50px;
        line-height: 60px;
      }
    }

    .hero-p {
      margin: 30px 0;
      font-size: 30px;
      line-height: 31px;
      font-weight: 700;
      font-family: $fontFamily;
    }

    .hero-btn {
      .hero-btn-1 {
        @include dugme($white, $primary);

        i {
          margin-left: 10px;
        }

        padding: 16px 20px;
        font-size: 14px;
        margin-right: 30px;
      }

      .hero-btn-2 {
        @include dugme($white, $primary);

        @media (max-width: 500px) {
          margin-top: 15px;
        }

        i {
          margin-left: 10px;
        }

        padding: 16px 30px;
        font-size: 14px;
      }
    }
  }
}

/* education */

.education {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    max-width: 55%;
    margin: auto;
    padding: 50px 0;

    @media (max-width: 830px) {
      &:last-child {
        align-items: center;
      }
    }

    .edu-text {
      h2 {
        color: $primary;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 45px;
        text-transform: uppercase;
        padding-bottom: 30px;
      }

      p {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 20px;
        padding-bottom: 30px;
      }
    }

    .edu-fc {
      display: flex;
      justify-content: space-between;

      @media (max-width: 830px) {
        flex-direction: column;
        flex: 1 48%;
        justify-content: center;
        align-items: center;
        max-width: 48%;
      }

      .edu-fc-1 {
        @media (max-width: 990px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1 1 45%;
        }

        .image {
          width: 100px;
          height: 100px;
          padding: 25px 5px;
          border: 2px solid $secondary;
          outline: 5px solid $grey;
          border-radius: 50% 50%;
          background: $grey;
          margin: 0 auto;

        }

        h5 {
          color: $secondary;
          font-size: 14px;
          font-weight: bolder;
          letter-spacing: 1px;
          line-height: 16px;
          text-transform: uppercase;
          margin: 10px;
          max-width: 150px;

          @media (max-width: 1087px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* insights */

.insights {
  background-image: linear-gradient(89.75deg,
      rgba(252, 250, 250, 0.01) -11.31%,
      rgba(252, 250, 250, 0) 91.78%),
    url(img/bg-2.jpg);
  background-position: center;
  background-size: cover;

  .container {
    height: 80vh;
    color: $white;

    @media (max-width: 990) {
      height: 60vh;
    }

    h3 {
      display: flex;
      justify-content: center;
      font-weight: 500;
      font-family: $fontFamily;
      font-size: 40px;
      line-height: 87px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-shadow: 0px 5px 10px #000000;
      text-align: center;
      margin-bottom: 30px;
    }

    .elements {
      display: flex;
      justify-content: space-between;

      article {
        flex: 0 0 40%;
        font-weight: 500;
        font-family: $fontFamily;
        font-size: 35px;
        text-shadow: 0px 5px 10px #000000;

        @media (max-width: 820px) {
          font-size: 25px;
        }
      }

      .cards {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        flex-wrap: wrap;
        flex: 0 0 55%;
        margin-bottom: 30px;

        .card {
          flex: 1 1 35%;
          max-width: 300px;
          min-height: 215px;
          letter-spacing: 1px;
          background: $grey;
          margin: 15px;
          border: 2px solid $primary;
          border-radius: 4px;
          background: $grey;
          padding: 30px;

          @media (max-width: 1045px) {
            max-width: 200px;
            margin: 10px;
            padding: 20px;
          }

          @media (max-width: 715px) {
            margin: 5px;
            padding: 10px;
          }

          h4 {
            color: $primary;
            font-size: 40px;
            padding-bottom: 20px;
          }

          @media (max-width: 715px) {
            font-size: 30px;
          }

          p {
            color: $black;
            font-size: 16px;
            line-height: 20px;

            @media (max-width: 715px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

/* connect */

.connect {
  display: flex;
  flex-direction: column;

  .top-content {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 60px;

    .c-text {
      padding-top: 16px;
      display: block;
      max-width: 600px;

      h3 {
        display: inline-flex;
        flex-direction: column;
        background-color: $primary;
        color: $white;
        font-size: 60px;
        text-transform: uppercase;
        padding: 0 16px;

        @media (max-width: 1355px) {
          font-size: 45px;
        }
      }

      h5 {
        margin: 30px 0;
        font-size: 20px;
        line-height: 22px;
      }

      p {
        font-size: 14px;
        font-weight: lighter;
        line-height: 18px;
        letter-spacing: 1.2px;
        font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    }

    img {
      width: 100%;
    }
  }

  .bottom-content {
    @media (max-width: 970px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h4 {
      color: $primary;
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .articles {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 0 0 45%;
      // max-width: 55%;
      // margin: 0 100px auto;
      margin-bottom: 30px;

      @media (max-width: 970px) {
        flex-direction: column;
        flex: 0 0 80%;
        align-items: center;
        max-width: 400px;
        justify-content: center;

        &:last-child {
          margin-top: 30px;
        }
      }
    }

    .article {
      display: flex;
      flex-direction: column;
      background-color: $grey;
      border-radius: 5px;

      @media (max-width: 850px) {
        margin: 0 0 30px 0;
      }

      h6 {
        color: $primary;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0;
      }

      .span-t {
        font-size: 14px;
        font-weight: bolder;
        margin-bottom: 20px;
      }

      .container2 {
        .addition {
          display: flex;
          margin-bottom: 15px;

          i {
            color: $secondary;
            margin-right: 10px;
            padding-top: 5px;
          }

          p {
            font-size: 14px;
          }
        }
      }

      button {
        @include dugme($white, $primary);
        padding: 12px 10px;
        font-size: 12px;
        font-weight: 600;
        margin: 0 80px 30px 80px;

        @media (max-width: 1483px) {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 0 30px 20px 30px;
        }

        @media (max-width: 1055px) {
          margin: 10px auto;
        }

        i {
          margin-left: 10px;
        }
      }
    }
  }
}


/* crown */

.crown {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

/* partners */

.partners {
  background-color: $grey;

  h4 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }

  .container {
    display: flex;
    flex: 0 0 30%;
    justify-content: space-evenly;
    max-width: 75%;

    @media (max-width: 1070px) {
      flex-direction: column;
      align-items: center;
      max-width: 40%;
    }

    .partner {
      display: flex;
      flex-direction: column;
      margin: 0 10px 50px 10px;

      .partner-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        height: 120px;
        max-width: inherit;
      }

      .partner-pic {
        img {
          max-width: max-content;
        }
      }
    }
  }
}

/* footer*/

.footer {
  height: 20vh;
  background: $footer;
}