$clr-primary-1: #063251;
$clr-primary-2: #104e7a;
$clr-primary-3: #1a6aa2;
$clr-primary-4: #2d87c8;
$clr-primary-5: #49a6e9;
$clr-primary-6: #6ebef7;
$clr-primary-7: #8bcbf9;
$clr-primary-8: #a5d5f8;
$clr-primary-9: #c5e5fc;
$clr-primary-10: #ebf7ff;
$clr-primary-green-1: #d2f4ea;
$clr-primary-green-2: #a5e9d4;
$clr-primary-green-3: #78debf;
$clr-primary-green-4: #4ed4ac;
$clr-primary-green-5: #20cb98;
$clr-primary-green-6: #1aa179;
$clr-primary-green-7: #13795b;
$clr-primary-green-8: #0d503c;
$clr-primary-green-9: #06281e;
$clr-grey-1: #102a42;
$clr-grey-2: #243a52;
$clr-grey-3: #324d67;
$clr-grey-4: #48647f;
$clr-grey-5: #617d98;
$clr-grey-6: #829ab0;
$clr-grey-7: #9eb2c7;
$clr-grey-8: #bcccdc;
$clr-grey-9: #dae2ec;
$clr-grey-10: #f1f5f8;
$clr-white: #fff;
$clr-purple: #4b145b;
$clr-red-special: #b4345c;
$clr-grey-special: #eae6eb;
$clr-red-dark: #bb2525;
$clr-red-light: #e66b6b;
$clr-green-dark: #25bb32;
$clr-green-light: #6be675;
$clr-black: #222;
