@import './variables';

@font-face {
	font-family: 'Baskerville';
	src: url('../assets/fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
	font-family: 'Barlow';
	src: url('../assets/fonts/Barlow-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-image: url('../assets/images/Texture.png');
	background-position: top right;
	background-repeat: no-repeat;

	header {
		display: flex;
		justify-content: center;
		padding: 2rem;

		.title {
			h2 {
				font-size: 34px;
				font-family: 'Baskerville';
				color: $header-color;

				font-weight: 100;
			}
		}
	}

	main {
		display: flex;
		justify-content: center;

		.cardContainer {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(3, 300px);
			gap: 2rem 5rem;

			.card {
				display: flex;

				&.Arrow {
					display: flex;
					flex-direction: column;
					position: relative;

					.cardText {
						background-color: $card-header;
						color: $card-text;
						font-family: 'Barlow';
						font-weight: 100;
						padding: 0.25rem 0.5rem;
						font-size: 10px;
					}

					svg {
						position: absolute;
						bottom: 50%;
						right: 0;
					}
				}

				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}

	footer {
		width: 100%;
		margin: auto 0;

		p {
			font-size: 12px;
			font-family: 'Barlow';
			color: $footer-text;
			max-width: 800px;
			margin: 0 auto;
			padding: 2rem 1rem 5rem;
			text-align: center;
		}
	}
}

@media only screen and (max-width: 768px) {
	body {
		main {
			padding: 1rem;
			.cardContainer {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	body {
		header {
			text-align: center;
		}
		main {
			padding: 1rem;
			.cardContainer {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
