@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {

    --blue-color: #6c9894;
    --white-color: #ffffff;

}

body {

    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;

}

.container-h{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    
}

.container-img {

    background-image: url("../assets/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.container-v{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
}

.description {

    font-family: 'Montserrat', sans-serif;
    max-width: 350px;
    
}

.description1-color {

    color: var(--blue-color);

}

.description2-color {

    color: var(--white-color);

}

.portrait-pic {
    
    padding-top: 60px;
    padding-bottom: 30px;
    width: 35%;
    height: 35%;
    
}

.headline1-color {
    color: var(--blue-color);
}

.headline2-color {
    color: var(--white-color);
}

.headline1-size {

    font-size: 40px;

}

.headline-font{

    font-family: 'Baloo Bhai 2', cursive;

}

.headline-line-height {

    line-height: 40px;

}

.headline-line-height2 {

    line-height: 20px;
    
}

.headline2-size {

    font-size: 30px;
    
}

.headline3-size {

    font-size: 20px;
    

}

.rm-button {

    max-width: 150px;
    font-family: 'Baloo Bhai 2', cursive;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    outline: 0;
    border: none;

}

.button-text-size-large{

    font-size: large;

}

.button-text-size-small{

    font-size: small;

}

.background-color1 {

    background-color: var(--blue-color);

}

.background-color2 {

    background-color: var(--white-color);

}

.margin {

    padding-top: 80px;
    padding-bottom: 50px;

}

.center {

    text-align: center;  

}

.badge {

    max-width: 50%;

}

.container-margin {
    margin:auto;
    padding:20px;
    max-width: 120px;
}

.container-h-styling {
    display: flex;
    flex-wrap: wrap;
    padding-left:60px;
    padding-right:60px;
}