$background-color: #f1f5f8;
$white-color: #fff;
$h3-color: #063251;
$placeholder-color: #617d98;
$para-color: #102a42;
$input-bg-color: #f1f5f8;
$submit-bg-color: #a5d5f8;
$clear-items-color: #e66b6b;
$edit-icon-color: #6be675;

$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$border-radius: 0.25rem;
