@use "../styles/base/main.scss" as main;

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sescond_child {
  height: 4rem;
}

.main_headline_container {
  margin-bottom: 2rem;
}

.main_headline {
  letter-spacing: main.$horizontal_spacing;
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.main_headline_underline {
  height: 0.2rem;
  width: 4rem;
  background-color: main.$clr-primary-4;
  margin: 0 auto;
  position: relative;
  right: -5px;
}
