@use "../styles/base/main.scss" as main;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: main.$secondary-font;
  color: main.$clr-grey-1;
  min-width: 400px;
  background-color: main.$clr-grey-10;
}

:root {
  @include main.large-screens {
    font-size: main.calcRem(18px);
  }

  @include main.desctop-screens {
    font-size: main.calcRem(18px);
  }
  @include main.laptop-screens {
    font-size: main.calcRem(18px);
  }
  @include main.tablet-screens {
    font-size: main.calcRem(18px);
  }
  @include main.mobile-screens {
    font-size: main.calcRem(16px);
  }
}

p {
  color: main.$clr-grey-5;
  font-size: 0.889rem;
}

.loading {
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
}
