@use "../styles/base/main.scss" as main;

.item_wrapper {
  padding: 24px 32px;
  background-color: main.$clr-white;
  border-radius: 0.2rem;
}

.item_img_container {
  position: relative;
  width: 130px;
  height: 150px;
  left: 50%;
  transform: translate(-50%);
}

.item_img {
  position: relative;
  img {
    @include main.pictureSize;
    position: absolute;
  }
}

.item_img_background {
  @include main.pictureSize;
  position: absolute;
  background-color: main.$clr-primary-5;
  top: -5px;
  left: 5px;
}

.faQuoteRight {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: main.$clr-primary-5;
  z-index: 2;
  padding: 5px;
  display: flex;
  border-radius: 50%;
}

.fa {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item_name_job {
  text-align: center;
  h5 {
    text-transform: capitalize;
    letter-spacing: main.$horizontal_spacing;
    font-size: 0.9rem;
  }
  p {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: main.$clr-primary-5;
    letter-spacing: main.$horizontal_spacing;
  }
}

.item_description {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  text-align: center;
  p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.item_actions_container_shavron {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item_actions_button {
  text-align: center;

  button {
    @include main.button($backgroundColor: main.$clr-primary-5);
    text-transform: capitalize;
    transition: all 0.3s linear;
    border-color: transparent;
  }
}

.chevron {
  color: main.$clr-primary-5;
  cursor: pointer;
  &:hover {
    color: darken($color: main.$clr-primary-5, $amount: 25);
  }
}
