@import './variables';

.question {
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border: 2px solid $border-color;
	border-radius: 0.25rem;
	padding: 1rem 1.5rem;
	gap: 1rem;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;

		button {
			background-color: transparent;
			background-color: $border-color;
			border-radius: 50%;
			padding: 0.25rem;
			border: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 1rem;

			svg {
				fill: $button-color;
			}
		}
	}

	p {
		color: $paragraph-color;
	}
}
