@use "../../styles/base/main.scss" as main;

.list_wrapper {
  width: 90vw;
  max-width: main.$fixed-width;
  padding: 1.5rem 2rem;
  border-radius: main.$radius;
  box-shadow: main.$dark-shadow;
  background-color: main.$clr-white;
}

.list_headline {
  h3 {
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: none;
  }
}

.list_action_container {
  button {
    background: main.$clr-primary-green-7;
    border-color: transparent;
    border-radius: 0.25rem;
    border-radius: main.$radius;
    color: main.$clr-white;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    letter-spacing: main.$spacing;
    margin: 2rem auto 0;
    padding: 0.5rem 0;
    text-transform: capitalize;
    width: 100%;
  }
}
