@mixin transform-center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
.header__heading {
    @include transform-center;
}
.small-card__image {
    @include transform-center;
}
.bubble {
    &::before {
        @include transform-center;
    }
    &--mirrored {
        &::before {
            @include transform-center;
        }
    }
}
.social-icon {
    @include transform-center;
}