/* baskervville-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/baskervville-v14-latin/baskervville-v14-latin-regular.svg#Baskervville') format('svg'); /* Legacy iOS */
  }
/* barlow-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/barlow-v12-latin/barlow-v12-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
  }