@import "imports.css";
body {
   background-image: url(../assets/images/background.png);
   background-repeat: no-repeat;
   background-size:contain;
   max-width: 550px;
   margin: auto;
}
img {
   max-width: 100%;
}
.title {
   text-align: center;
   padding: 30px 0 30px 0;
}
.title--font {
   font-family: 'Baskervville';
   font-size: 36px;
}
.title--color {
   color: var(--brown-color);
}
.container {
   display:grid;
}
.wrapper {
   flex-wrap: wrap;
}
.item {
   display: flex;
   flex-direction: column;
   padding: 0 42px 28px 42px;
}
.item--text {
   max-width: 100%;
}
.item--text-font {
   font-family: 'Barlow';
   font-size: 10px;
}
.item--text-color {
   color:var(--light-color);
   background-color: var(--gray-color);
}
.item--text-padding {
   padding: 9px 12px 9px 12px;
}
.footer--text {
   text-align: center;
   margin:auto;
   max-width: 650px;
   padding: 0 10px 30px 10px;
}
.footer--font {
   font-family: 'Barlow';
   font-size: 10px;
}
.footer--text-color {
   color: var(--gray-color);
}
@media (min-width: 624px) {
   body {
      max-width: 900px;
      margin: auto;
   }
   .image {
      height: 100%;
   }
   .container {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 945px) {
   body {
      max-width: 1000px;
      margin: auto;
   }
   .container {
      grid-template-columns: repeat(3, 1fr);
   }
   .item {
      flex: 0 1 33%;
   }
}