*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1aa179;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.app {
  background-color: #fff;
  width: 450px;
  border-radius: 0.25rem;
}
.list {
}
.list li {
  list-style-type: none;
}
.list img {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  object-fit: cover;
}
