@use "./base/main.scss" as main;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: main.$main-font;
  min-width: 400px;
}

:root {
  background-color: main.$clr-grey-10;

  @include main.large-screens {
    font-size: main.calcRem(25px);
  }

  @include main.desctop-screens {
    font-size: main.calcRem(23px);
  }
  @include main.laptop-screens {
    font-size: main.calcRem(21px);
  }
  @include main.tablet-screens {
    font-size: main.calcRem(19px);
  }
  @include main.mobile-screens {
    font-size: main.calcRem(17px);
  }
}

p {
  color: main.$clr-grey-5;
  font-size: 0.889rem;
}

.loading {
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
}
