.contact-links {
    display: grid;
    column-gap: 3rem;
    row-gap: 3rem;
    padding: 3rem 0;
    font-size: 1.8rem;
}
.contact-links__link {
    color: white;
}
.contact-flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}