.header {
    padding: 3rem 0 0 0;
}
.header__background-image {
    background-image: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.header__nav {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1.8rem;
}
.header__nav-button {
    color: #fff;
}
.header__heading-section {
    position: relative;
    height: 80vh;
}
.header__heading {
    position: absolute;
    text-align: center;
    padding: 0 2rem 0 2rem;
    width: 100%;
}
.header__heading--main {
    display: block;
    font-size: 6.6rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 0 10rem 0;
}
.header__heading--sub {
    display: block;
    font-size: 3.2rem;
    padding: 0 0 5rem 0;
    font-weight: 300;
}
.header__heading-button {
    display: block;
    border: .1rem solid white;
    border-radius: 1rem;
    font-size: 2.3rem;
    padding: 2rem 3rem 2rem 3rem;
    background-color: transparent;
    width: 240px;
    margin: 0 auto 0 auto;
    font-weight: 800;
    &:hover{
        color: black;
        background-color: #fff;
    }
}