@import './variables';

nav {
	background-color: $white-color;
	letter-spacing: 2px;
	width: 100%;

	.activeLink {
		color: $main-green-color;
	}

	.linksContainer {
		width: $view-width;
		max-width: $max-width;
		padding: 1.5rem 0;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.logo {
			color: $main-green-color;
			font-size: clamp(1.5rem, 3vw, 3rem);
		}

		a {
			text-decoration: none;
			font-size: 1rem;
			color: $main-dark-color;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $main-green-color;
			}
		}

		.links {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}

@media screen and (min-width: 768px) {
	nav {
		.linksContainer {
			margin: 0px auto;
		}
		ul {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.links {
				flex-direction: row;
			}
		}
	}
}
