$main-green-color: #10b981;
$green-color-light: #6ee7b7;
$green-color-dark: #047857;
$main-dark-color: #0f172a;
$white-color: #fff;
$search-background-color: #f8fafc;
$paragraph-color: #64748b;

$view-width: 90vw;
$max-width: 1120px;
$border-radius: 0.25rem;
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
