@use "../styles/base/main.scss" as main;

.wrapper_headline {
  margin-top: 4rem;
}

.container {
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 64px;
}

.headline {
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0.75rem;
  color: main.$clr-grey-1;
  font-weight: 900;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background-color: main.$clr-primary-5;
  margin: 0 auto;
}
