.wrapper_headline {
  width: 90vw;
  max-width: 620px;
  margin: 5rem auto;
}

.container {
  margin-bottom: 4rem;
  text-align: center;
  h2 {
    font-size: 2rem;
    @media (min-width: 800px) {
      font-size: 2.5rem;
      line-height: 1;
    }
  }

  .underline {
    width: 6rem;
    height: 0.25rem;

    background: #49a6e9;
    margin-left: auto;
    margin-right: auto;
  }
}
