@use "../styles/base/main.scss" as main;

.wrapper {
  background: main.$clr-white;
  border-radius: main.$radius;
  margin: 2rem 0;
  box-shadow: main.$light-shadow;
  transition: main.$transition;
}

.container_img {
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: main.$radius;
    border-top-left-radius: main.$radius;
  }
}

.info_wrapper {
  padding: 1.5rem 2rem;
}
