@import './variables';
@import './fonts';

%flex-column {
	display: flex;
	flex-direction: column;
}

%centered-content {
	align-items: center;
	justify-content: center;
}

.container--two {
	color: $main-red-color;

	.wrapper,
	.content--top,
	.content--bottom {
		@extend %flex-column;
		gap: 2rem;
	}

	.wrapper {
		padding: 1rem;
	}

	.content--top {
		padding-top: 2rem;

		h1,
		h4 {
			font-weight: 600;
		}

		h1 {
			font-size: 30px;
			font-weight: 500;
		}

		h4 {
			color: $card-text-color;
			font-size: 22px;
			line-height: 2rem;
		}
	}

	.content--bottom {
		@extend %centered-content;
		color: $card-text-color;

		.takeQuizContainer {
			display: grid;
			grid-template-columns: 1fr;
			@extend %centered-content;
			gap: 2rem;

			.card {
				@extend %flex-column;
				@extend %centered-content;
				gap: 1rem;
				padding: 1rem;

				img {
					max-width: 80px;
				}

				h4 {
					color: $card-back-text-color;
					font-weight: 600;
					line-height: 1;
					font-size: 1.75em;
					text-transform: uppercase;
					font-stretch: extra-condensed;
				}
			}
		}

		.takeQuizBottom {
			@extend %flex-column;
			@extend %centered-content;
			gap: 2rem;
			text-align: center;

			h2 {
				font-weight: 400;
			}
			button {
				flex: 1;
			}
		}
	}
}
