@font-face {
	font-family: 'Lato-Black';
	src: url('../assets/fonts/Lato-Black.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../assets/fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'TradeGothic';
	src: url('../assets/fonts/Trade\ Gothic\ LT.ttf');
}

@font-face {
	font-family: 'CrimsonText';
	src: url('../assets/fonts/CrimsonText-Regular.ttf');
}
