$header-background-color: #fff;
$header-link-color: #333333;
$header-information-button-color: #b13;
$header-apply-now-button-color: #8e6c4a;
$header-mobile-apply-now-button: #e1e1e1;
$header-button-text-color: #fff;
$header-text-color: #fff;
$main-red-color: #b13;
$main-text-color-dark: #252525;
$card-background-color: #f4f4f4;
$card-text-color: #5c6b80;
$card-back-text-color: #8e6c4a;
$black-color: #000;
$border-color: rgba(152, 119, 88, 0.3);
$form-outline: #8e8d8d;
