@import './variables';
@import './fonts';
@import './carousel.scss';
@import './header';
@import './video';
@import './container-one';
@import './container-two';
@import './container-three';
@import './container-four';
@import './container-five';
@import './container-six';
@import './container-seven';
@import './container-eight';
@import './container-nine';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



img,
video {
	max-width: 200px;
}

button {
	background-color: $header-information-button-color;
	color: $header-text-color;
	padding: 1rem;
	border: 0;
	border-radius: 0.5rem;
	font-family: 'TradeGothic';
	font-size: 22px;
	font-weight: 900;
	flex: 1;
}

//Hamburger meni





main {
	margin-top: 5rem;
	font-family: 'TradeGothic';
	display: flex;
	flex-direction: column;
	gap: 5rem;

}
