@import './variables';

@font-face {
	font-family: 'Lato-Black';
	src: url('../assets/fonts/Lato-Black.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../assets/fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'TradeGothic';
	src: url('../assets/fonts/Trade\ Gothic\ LT.ttf');
}

@font-face {
	font-family: 'CrimsonText';
	src: url('../assets/fonts/CrimsonText-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 900;
	color: $main-red-color;
}

img,
video {
	max-width: 200px;
}

button {
	background-color: $header-information-button-color;
	color: $header-text-color;
	padding: 1rem;
	border: 0;
	border-radius: 0.5rem;
	font-family: 'TradeGothic';
	font-size: 22px;
	font-weight: 900;
	flex: 1;
}

//Hamburger meni

.hamburgerMenu {
	input[type='checkbox'] + label {
		.icon-bar {
			display: block;
			width: 22px;
			height: 2px;
			background-color: $main-text-color-dark;
			margin: 4px;
			transition: all 0.2s;
		}
		.top-bar {
			transform: rotate(0);
		}
		.middle-bar {
			opacity: 1;
		}
	}

	input[type='checkbox']:checked + label {
		.top-bar {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
		}
		.middle-bar {
			opacity: 0;
		}
		.bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
		}
	}

	#menu-toggle {
		display: none;
		transition: transform 400ms;
		&:checked ~ .menu {
			display: flex;
			transform: translateY(100%);
			opacity: 1;
		}
	}
	.menu {
		position: absolute;
		background-color: $header-text-color;
		z-index: 0;
		left: 0;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		bottom: 0;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform 400ms;
		transition: opacity 500ms;

		li {
			font-size: 14px;
			font-weight: 900;
			display: flex;
			width: 100%;
			padding: 0.5rem 1rem;
			border-bottom: 0.5px solid $main-text-color-dark;
			position: relative;

			&::after {
				content: ' ';
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				height: 40px;
				width: 14px;
				padding: 0 1em;
				cursor: pointer;
				transition: 0.4s all;
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='24.174 106.118 436.686 265.01' width='436.686' height='265.01' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 225.547 364.1 L 31.204 169.756 C 21.831 160.383 21.831 145.187 31.204 135.815 L 53.871 113.148 C 63.228 103.791 78.393 103.773 87.772 113.108 L 242.518 267.129 L 397.263 113.108 C 406.642 103.773 421.807 103.791 431.164 113.148 L 453.831 135.815 C 463.204 145.188 463.204 160.384 453.831 169.756 L 259.489 364.1 C 250.116 373.472 234.92 373.472 225.547 364.1 Z'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 14px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 12px;
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='24.174 106.118 436.686 265.01' width='436.686' height='265.01' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 225.547 364.1 L 31.204 169.756 C 21.831 160.383 21.831 145.187 31.204 135.815 L 53.871 113.148 C 63.228 103.791 78.393 103.773 87.772 113.108 L 242.518 267.129 L 397.263 113.108 C 406.642 103.773 421.807 103.791 431.164 113.148 L 453.831 135.815 C 463.204 145.188 463.204 160.384 453.831 169.756 L 259.489 364.1 C 250.116 373.472 234.92 373.472 225.547 364.1 Z'/%3E%3C/svg%3E");
			}
		}
	}
}

header {
	font-family: 'Lato-Light';
	position: sticky;
	top: 0;
	z-index: 100;

	.wrapper {
		.headerTop {
			background-color: $header-background-color;

			position: relative;

			.headerTopUpper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.5rem;

				.logo {
					.regularLogo {
						display: none;
					}
				}

				.mobileLinksContainer {
					ul {
						display: flex;
						align-items: center;
						gap: 0.5rem;

						li {
							list-style-type: none;
							font-weight: 900;

							img {
								width: 20px;
							}
						}
					}
				}
			}

			.buttonContainer {
				display: flex;

				button {
					flex: 1;
					font-family: 'Lato-Black';
					border: 0px;
					font-size: 14px;
					padding: 0;
					border-radius: 0;
				}

				.applyNow {
					background-color: $header-mobile-apply-now-button;
					color: $main-text-color-dark;

					&::before {
						content: ' ';
						display: inline-block;
						background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1792 1824' style='enable-background:new 0 0 1792 1824;' xml:space='preserve'%3E%3Cpath d='M1764,43c22,16,31,37.3,27,64l-256,1536c-3.3,19.3-14,34.3-32,45c-9.3,5.3-19.7,8-31,8c-7.3,0-15.3-1.7-24-5l-527-215 l-298,327c-12,14-27.7,21-47,21c-9.3,0-17-1.3-23-4c-12.7-4.7-22.7-12.5-30-23.5s-11-23.2-11-36.5v-452L40,1115 c-24.7-9.3-38-27.7-40-55c-2-26,8.7-45.7,32-59L1696,41C1719.3,27,1742,27.7,1764,43z M1422,1542l221-1323L209,1046l336,137l863-639 l-478,797L1422,1542z'/%3E%3C/svg%3E");
						background-position: 0 9px;
						background-repeat: no-repeat;
						background-size: 22px;
						height: 45px;
						width: 30px;
						position: relative;
						vertical-align: middle;
					}
				}

				.requestInfo {
					background-color: $header-information-button-color;
					color: $header-text-color;

					&::before {
						content: '';
						display: inline-block;
						background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='138.832 50.522 182.716 402' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(1, 0, 0, 1, 29.191046, 50.521725)'%3E%3Cg%3E%3Cpath d='M164.454,91.363h73.098c4.945,0,9.226-1.807,12.847-5.424c3.61-3.614,5.421-7.898,5.421-12.847V18.274 c0-4.948-1.811-9.229-5.428-12.85C246.777,1.812,242.49,0,237.544,0h-73.091c-4.946,0-9.229,1.812-12.847,5.424 c-3.615,3.617-5.424,7.902-5.424,12.85v54.818c0,4.949,1.809,9.233,5.424,12.847C155.224,89.556,159.507,91.363,164.454,91.363z' style='fill: rgb(255, 255, 255);'/%3E%3Cpath d='M286.936,334.331c-3.613-3.617-7.897-5.427-12.847-5.427h-18.274V164.452c0-4.947-1.807-9.229-5.421-12.845 c-3.62-3.617-7.904-5.426-12.847-5.426H127.912c-4.949,0-9.231,1.809-12.847,5.426c-3.618,3.616-5.424,7.898-5.424,12.845v36.547 c0,4.946,1.807,9.231,5.424,12.845c3.615,3.621,7.898,5.428,12.847,5.428h18.274v109.633h-18.274 c-4.949,0-9.231,1.81-12.847,5.427c-3.618,3.614-5.424,7.898-5.424,12.847v36.546c0,4.948,1.807,9.232,5.424,12.854 c3.615,3.61,7.898,5.421,12.847,5.421h146.177c4.949,0,9.233-1.811,12.847-5.421c3.614-3.621,5.421-7.905,5.421-12.854v-36.546 C292.357,342.229,290.56,337.945,286.936,334.331z' style='fill: rgb(255, 255, 255);'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						background-position: 0 10px;
						background-repeat: no-repeat;
						background-size: 10px;
						height: 45px;
						width: 21px;
						position: relative;
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.video {
	height: 80vh;
	display: flex;
	font-family: 'TradeGothic';

	.videoContainer {
		display: flex;
		flex-direction: column;

		video {
			flex: 1;

			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
		}

		.enrollmentVideoBanner {
			background-color: rgba($color: #000000, $alpha: 0.9);
			color: $header-text-color;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			gap: 1rem;
			position: relative;

			.videoControls {
				position: absolute;
				top: -70px;
				right: 0;
				gap: 1rem;
				padding: 1rem;
				display: flex;

				.play,
				.pause {
					border-radius: 50%;
					background-position: center;
					padding: 1rem;
					background-repeat: no-repeat;
					cursor: pointer;
				}

				.play {
					background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='white'/%3E%3Cpath d='M20.6637 15.2581L13.7887 11.3794C13.5642 11.2511 13.3097 11.1845 13.0511 11.1865C12.7925 11.1885 12.539 11.2589 12.3165 11.3906C12.0997 11.5146 11.9196 11.6938 11.7944 11.9099C11.6693 12.1261 11.6036 12.3715 11.604 12.6213V20.3788C11.6036 20.6285 11.6693 20.8739 11.7944 21.0901C11.9196 21.3062 12.0997 21.4854 12.3165 21.6094C12.5391 21.7411 12.7925 21.8114 13.0511 21.8134C13.3097 21.8154 13.5642 21.7489 13.7887 21.6206L20.6637 17.7419C20.8854 17.6191 21.0702 17.4391 21.1989 17.2207C21.3276 17.0023 21.3954 16.7535 21.3954 16.5C21.3954 16.2465 21.3276 15.9977 21.1989 15.7793C21.0702 15.5609 20.8854 15.381 20.6637 15.2581Z' fill='black'/%3E%3C/svg%3E%0A");

					&:hover {
						background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='black'/%3E%3Cpath d='M20.6637 15.2581L13.7887 11.3794C13.5642 11.2511 13.3097 11.1845 13.0511 11.1865C12.7925 11.1885 12.539 11.2589 12.3165 11.3906C12.0997 11.5146 11.9196 11.6938 11.7944 11.9099C11.6693 12.1261 11.6036 12.3715 11.604 12.6213V20.3788C11.6036 20.6285 11.6693 20.8739 11.7944 21.0901C11.9196 21.3062 12.0997 21.4854 12.3165 21.6094C12.5391 21.7411 12.7925 21.8114 13.0511 21.8134C13.3097 21.8154 13.5642 21.7489 13.7887 21.6206L20.6637 17.7419C20.8854 17.6191 21.0702 17.4391 21.1989 17.2207C21.3276 17.0023 21.3954 16.7535 21.3954 16.5C21.3954 16.2465 21.3276 15.9977 21.1989 15.7793C21.0702 15.5609 20.8854 15.381 20.6637 15.2581Z' fill='white'/%3E%3C/svg%3E%0A");
					}
				}

				.pause {
					background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='white'/%3E%3Cpath d='M13.3466 22C12.6857 22 12.1503 21.4643 12.1503 20.8037V12.1963C12.1503 11.5352 12.6857 11 13.3466 11C14.0074 11 14.5429 11.5355 14.5429 12.1963V20.8037C14.5429 21.4645 14.0076 22 13.3466 22Z' fill='black'/%3E%3Cpath d='M17.6532 22C16.9924 22 16.4569 21.4643 16.4569 20.8037V12.1963C16.4569 11.5355 16.9924 11 17.6532 11C18.314 11 18.8495 11.5355 18.8495 12.1963V20.8037C18.8495 21.4643 18.314 22 17.6532 22Z' fill='black'/%3E%3C/svg%3E%0A");

					&:hover {
						background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='black'/%3E%3Cpath d='M13.3466 22C12.6857 22 12.1503 21.4643 12.1503 20.8037V12.1963C12.1503 11.5352 12.6857 11 13.3466 11C14.0074 11 14.5429 11.5355 14.5429 12.1963V20.8037C14.5429 21.4645 14.0076 22 13.3466 22Z' fill='white'/%3E%3Cpath d='M17.6532 22C16.9924 22 16.4569 21.4643 16.4569 20.8037V12.1963C16.4569 11.5355 16.9924 11 17.6532 11C18.314 11 18.8495 11.5355 18.8495 12.1963V20.8037C18.8495 21.4643 18.314 22 17.6532 22Z' fill='white'/%3E%3C/svg%3E%0A");
					}
				}
			}

			h1 {
				text-transform: uppercase;
				font-size: 26px;
				font-weight: 900;
			}

			h2 {
				font-weight: 500;
				font-size: 20px;
			}

			.bannerRight {
				display: flex;
			}
		}
	}
}

main {
	margin-top: 5rem;
	font-family: 'TradeGothic';
	display: flex;
	flex-direction: column;
	gap: 5rem;

	//container-----one-----styling-------------
	.container--one {
		.content--top {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 3rem 1rem;
			background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.85)), url('../assets/images/ducasse-paris.jpeg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			h2 {
				color: $main-red-color;
				font-size: 30px;
				font-weight: 100;
			}

			p {
				display: flex;
				flex-direction: column;
				font-size: 20px;
				font-weight: 500;
				gap: 0.5rem;

				a {
					color: $main-text-color-dark;
					font-weight: 900;

					&::after {
						content: '';
						background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_22_2)'%3E%3Cpath d='M12.1181 0.223577C11.8723 -0.0745258 11.4665 -0.0745258 11.2093 0.223577C10.9635 0.514905 10.9635 0.995935 11.2093 1.28726L15.8107 6.74119H0.634487C0.280089 6.74119 0 7.07317 0 7.49323C0 7.91328 0.280089 8.25881 0.634487 8.25881H15.8107L11.2093 13.6992C10.9635 13.9973 10.9635 14.4851 11.2093 14.7764C11.4608 15.0745 11.8723 15.0745 12.1181 14.7764L17.8057 8.03523C18.0572 7.7439 18.0572 7.26287 17.8057 6.97155L12.1181 0.223577Z' fill='%23252525'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_22_2'%3E%3Crect width='18' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						width: 20px;
						padding: 1rem;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}
		}

		.content--bottom {
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			gap: 1rem;

			.cardContent {
				height: 20em;
				background-color: $card-background-color;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					background-color: $header-text-color;

					.cardFront {
						visibility: hidden;
						opacity: 0;
					}

					& .hiddenText {
						visibility: visible;
						padding: 2rem;
						font-size: 18px;
						font-weight: 100;
						color: $card-back-text-color;
						opacity: 1;
					}
				}

				.cardFront {
					padding: 5rem 1.5rem;
					display: flex;
					flex-direction: column;
					gap: 1rem;
					align-items: center;
					justify-content: center;
					opacity: 1;
					flex: 1;
					transition: opacity 400ms ease-in;

					img {
						max-width: 50px;
					}

					h2 {
						text-transform: uppercase;
						text-align: center;
						letter-spacing: -2px;
						color: $main-red-color;
						font-weight: 900;
						font-size: 30px;
					}

					p {
						font-family: 'Lato-Light';
						text-align: center;
						font-weight: 900;
						color: $card-text-color;
					}
				}

				.hiddenText {
					position: absolute;
					visibility: hidden;
					opacity: 0;
					text-align: center;
					transition: opacity 400ms ease-in-out;
				}
			}
		}
	}
	//---------------Second container styling--------------
	.container--two {
		color: $main-red-color;

		.wrapper {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		.content--top {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding-top: 2rem;

			h1 {
				font-size: 30px;
				font-weight: 500;
			}

			h4 {
				color: $card-text-color;
				font-size: 22px;
				font-weight: 600;
				line-height: 2rem;
			}
		}

		.content--bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			color: $card-text-color;

			.takeQuizContainer {
				display: grid;
				grid-template-columns: 1fr;
				align-items: center;
				justify-content: center;
				gap: 2rem;

				.card {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					padding: 1rem;

					img {
						max-width: 80px;
					}

					h4 {
						color: $card-back-text-color;
						font-weight: 600;
						line-height: 1;
						font-size: 1.75em;
						text-transform: uppercase;
						font-stretch: extra-condensed;
					}
				}
			}

			.takeQuizBottom {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 2rem;
				text-align: center;

				button {
					flex: 1;
				}
			}
		}
	}
	//-------------------Third container styling---------------------
	.container--three {
		.wrapper {
			padding: 1rem;

			.content--top {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h1 {
					font-size: 28px;
					color: $main-red-color;
					font-weight: 100;
				}

				h5 {
					font-size: 18px;
					font-family: 'CrimsonText';
					font-weight: 600;
				}

				ul {
					li {
						list-style: none;
						padding: 2rem 0 0 2rem;
						background-position: top 35px left 10px;
						background-repeat: no-repeat;
						background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMTcnIHZpZXdCb3g9JzAgMCAyNCAxNycgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMTYuMTU3NSAwLjI0NTkzNUMxNS44Mjk4IC0wLjA4MTk3ODMgMTUuMjg4NyAtMC4wODE5NzgzIDE0Ljk0NTcgMC4yNDU5MzVDMTQuNjE4IDAuNTY2Mzk2IDE0LjYxOCAxLjA5NTUzIDE0Ljk0NTcgMS40MTU5OUwyMS4wODEgNy40MTUzMUgwLjg0NTk4M0MwLjM3MzQ1MiA3LjQxNTMxIDAgNy43ODA0OSAwIDguMjQyNTVDMCA4LjcwNDYxIDAuMzczNDUyIDkuMDg0NjkgMC44NDU5ODMgOS4wODQ2OUgyMS4wODFMMTQuOTQ1NyAxNS4wNjkxQzE0LjYxOCAxNS4zOTcgMTQuNjE4IDE1LjkzMzYgMTQuOTQ1NyAxNi4yNTQxQzE1LjI4MSAxNi41ODIgMTUuODI5OCAxNi41ODIgMTYuMTU3NSAxNi4yNTQxTDIzLjc0MDkgOC44Mzg3NUMyNC4wNzYyIDguNTE4MjkgMjQuMDc2MiA3Ljk4OTE2IDIzLjc0MDkgNy42Njg3TDE2LjE1NzUgMC4yNDU5MzVaJyBmaWxsPScjQkIxMTMzJy8+PC9zdmc+Cg==');

						p {
							font-size: 22px;
							font-weight: 900;
							padding-left: 1rem;
							color: $card-text-color;

							a {
								color: $main-red-color;
							}
						}
					}
				}
			}

			.content--bottom {
				display: flex;
				flex-direction: column;
				gap: 5rem;

				.programsContainer {
					display: flex;
					flex-direction: column;
					gap: 2rem;
					padding-top: 2rem;

					a {
						text-decoration: none;
					}

					.programCard {
						display: flex;
						flex-direction: column;
						align-items: center;
						background-color: $card-background-color;

						.programBackground {
							width: 100%;

							img {
								max-width: none;
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}

						.programText {
							display: flex;
							flex-direction: column;
							gap: 1rem;
							padding: 2rem 1rem;
							color: $black-color;

							h2 {
								text-transform: uppercase;
								color: $main-text-color-dark;
								font-weight: 700;
							}

							p {
								font-size: 18px;
								font-weight: 900;
							}

							span {
								font-size: 20px;
								text-transform: uppercase;
								color: $card-back-text-color;
								font-weight: 900;
								text-decoration: underline;

								&::after {
									background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_78_364)'%3E%3Cpath d='M12.1181 0.184451C11.8723 -0.0614837 11.4665 -0.0614837 11.2093 0.184451C10.9635 0.424797 10.9635 0.821646 11.2093 1.06199L15.8107 5.56148H0.634487C0.280089 5.56148 0 5.83537 0 6.18191C0 6.52846 0.280089 6.81352 0.634487 6.81352H15.8107L11.2093 11.3018C10.9635 11.5478 10.9635 11.9502 11.2093 12.1905C11.4608 12.4365 11.8723 12.4365 12.1181 12.1905L17.8057 6.62907C18.0572 6.38872 18.0572 5.99187 17.8057 5.75152L12.1181 0.184451Z' fill='%23997755'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_78_364'%3E%3Crect width='18' height='12.375' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
									background-repeat: no-repeat;
									background-position: left;
									background-size: contain;
									padding: 0.5rem;
									content: '';
									margin-left: 0.25rem;
								}
							}
						}
					}
				}

				.programQuoteContainer {
					display: flex;
					flex-direction: column;
					gap: 2rem;

					h1 {
						font-size: 32px;
						color: $card-back-text-color;
						font-weight: 100;
						margin-left: 3rem;

						&::before {
							padding: 1rem;

							content: '';
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 475.082 475.081' xml:space='preserve'%3E%3Cpath fill='%23997755' d='M164.45,219.27h-63.954c-7.614,0-14.087-2.664-19.417-7.994c-5.327-5.33-7.994-11.801-7.994-19.417v-9.132 c0-20.177,7.139-37.401,21.416-51.678c14.276-14.272,31.503-21.411,51.678-21.411h18.271c4.948,0,9.229-1.809,12.847-5.424 c3.616-3.617,5.424-7.898,5.424-12.847V54.819c0-4.948-1.809-9.233-5.424-12.85c-3.617-3.612-7.898-5.424-12.847-5.424h-18.271 c-19.797,0-38.684,3.858-56.673,11.563c-17.987,7.71-33.545,18.132-46.68,31.267c-13.134,13.129-23.553,28.688-31.262,46.677 C3.855,144.039,0,162.931,0,182.726v200.991c0,15.235,5.327,28.171,15.986,38.834c10.66,10.657,23.606,15.985,38.832,15.985 h109.639c15.225,0,28.167-5.328,38.828-15.985c10.657-10.663,15.987-23.599,15.987-38.834V274.088 c0-15.232-5.33-28.168-15.994-38.832C192.622,224.6,179.675,219.27,164.45,219.27z'/%3E%3Cpath fill='%23997755' d='M459.103,235.256c-10.656-10.656-23.599-15.986-38.828-15.986h-63.953c-7.61,0-14.089-2.664-19.41-7.994 c-5.332-5.33-7.994-11.801-7.994-19.417v-9.132c0-20.177,7.139-37.401,21.409-51.678c14.271-14.272,31.497-21.411,51.682-21.411 h18.267c4.949,0,9.233-1.809,12.848-5.424c3.613-3.617,5.428-7.898,5.428-12.847V54.819c0-4.948-1.814-9.233-5.428-12.85 c-3.614-3.612-7.898-5.424-12.848-5.424h-18.267c-19.808,0-38.691,3.858-56.685,11.563c-17.984,7.71-33.537,18.132-46.672,31.267 c-13.135,13.129-23.559,28.688-31.265,46.677c-7.707,17.987-11.567,36.879-11.567,56.674v200.991 c0,15.235,5.332,28.171,15.988,38.834c10.657,10.657,23.6,15.985,38.828,15.985h109.633c15.229,0,28.171-5.328,38.827-15.985 c10.664-10.663,15.985-23.599,15.985-38.834V274.088C475.082,258.855,469.76,245.92,459.103,235.256z'/%3E%3C/svg%3E");
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							left: 1rem;
							position: absolute;
						}
					}

					.quoteByContainer {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 2rem;

						img {
							border-radius: 50%;
						}

						.quoteBy {
							display: flex;
							flex-direction: column;
							gap: 1rem;

							h4 {
								text-transform: uppercase;
								font-weight: 100;
							}

							& h4:first-child {
								font-weight: 900;
							}
						}
					}
				}
			}
		}
	}

	.container--four {
		.wrapper {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 5rem;

			.content--top {
				display: flex;
				flex-direction: column;
				gap: 5rem;

				h1 {
					font-size: 28px;
					color: $main-red-color;
					font-weight: 100;
				}

				.learnOnline {
					display: flex;
					flex-direction: column;
					gap: 2rem;

					.left {
						margin: -1rem;

						img {
							width: 100%;
							max-width: none;
						}
					}

					.right {
						display: flex;
						flex-direction: column;
						gap: 2rem;

						p {
							font-size: 20px;
							font-family: 'Crimson';
						}

						ul {
							display: flex;
							flex-direction: column;

							li {
								list-style: none;
								padding: 1rem 1rem 1rem 0;
								font-size: 22px;
								font-weight: 900;
								text-transform: uppercase;
								color: $card-back-text-color;
								text-decoration: underline;
								border-top: 1px solid $border-color;

								&::after {
									background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_78_364)'%3E%3Cpath d='M12.1181 0.184451C11.8723 -0.0614837 11.4665 -0.0614837 11.2093 0.184451C10.9635 0.424797 10.9635 0.821646 11.2093 1.06199L15.8107 5.56148H0.634487C0.280089 5.56148 0 5.83537 0 6.18191C0 6.52846 0.280089 6.81352 0.634487 6.81352H15.8107L11.2093 11.3018C10.9635 11.5478 10.9635 11.9502 11.2093 12.1905C11.4608 12.4365 11.8723 12.4365 12.1181 12.1905L17.8057 6.62907C18.0572 6.38872 18.0572 5.99187 17.8057 5.75152L12.1181 0.184451Z' fill='%23997755'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_78_364'%3E%3Crect width='18' height='12.375' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
									background-repeat: no-repeat;
									background-position: left;
									background-size: contain;
									padding: 0.5rem;
									content: '';
									margin-left: 0.25rem;
								}

								&:last-child {
									border-bottom: 1px solid $border-color;
								}
							}
						}
					}
				}
			}
			.content--bottom {
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.titleDiv {
					display: flex;
					flex-direction: column;
					gap: 1rem;

					h1 {
						font-weight: 600;
						font-size: 32px;
						text-transform: capitalize;
					}

					h2 {
						color: $card-back-text-color;
						font-size: 19px;
						font-weight: 900;
					}
				}

				.courseContainer {
					display: flex;
					flex-direction: column-reverse;
					gap: 2rem;

					.courseLeft {
						display: flex;
						flex-direction: column;
						gap: 2rem;

						h2 {
							font-size: 28px;
							font-weight: 900;
						}

						ul {
							display: flex;
							flex-direction: column;
							justify-content: center;
							gap: 1rem;

							li {
								list-style: none;
								font-size: 20px;
								font-weight: 900;
								color: $card-text-color;
								display: flex;
								align-items: center;
								gap: 1rem;

								&::before {
									background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18248 8.27304C4.0661 8.27304 3.94972 8.22849 3.86062 8.14029L1.13297 5.41265C0.955676 5.23535 0.955676 4.94713 1.13297 4.76983C1.31027 4.59254 1.59849 4.59254 1.77579 4.76983L4.18157 7.17562L10.2242 1.13297C10.4015 0.955676 10.6897 0.955676 10.867 1.13297C11.0443 1.31027 11.0443 1.59849 10.867 1.77579L4.50252 8.14029C4.41342 8.2294 4.29704 8.27304 4.18066 8.27304H4.18248Z' fill='%23997755' stroke='%23997755'/%3E%3C/svg%3E%0A");
									background-repeat: no-repeat;
									background-position: center;
									padding: 1rem;
									content: '';
									margin-left: 0.25rem;
									border: 2px solid $card-back-text-color;
									border-radius: 50%;
								}
							}
						}
					}
					.courseRight {
						flex: 1;

						img {
							max-width: none;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
