@font-face {
  font-family: 'Lato-Black';
  src: url("../assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'TradeGothic';
  src: url("../assets/fonts/Trade Gothic LT.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
video {
  max-width: 200px;
}

.hamburgerMenu input[type='checkbox'] + label .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #252525;
  margin: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburgerMenu input[type='checkbox'] + label .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.hamburgerMenu input[type='checkbox'] + label .middle-bar {
  opacity: 1;
}

.hamburgerMenu input[type='checkbox']:checked + label .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.hamburgerMenu input[type='checkbox']:checked + label .middle-bar {
  opacity: 0;
}

.hamburgerMenu input[type='checkbox']:checked + label .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.hamburgerMenu #menu-toggle {
  display: none;
}

.hamburgerMenu #menu-toggle:checked ~ .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
}

.hamburgerMenu .menu {
  position: absolute;
  background-color: #fff;
  z-index: 0;
  left: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.hamburgerMenu .menu li {
  font-size: 14px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 0.5px solid #252525;
  position: relative;
}

.hamburgerMenu .menu li::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 14px;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='24.174 106.118 436.686 265.01' width='436.686' height='265.01' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 225.547 364.1 L 31.204 169.756 C 21.831 160.383 21.831 145.187 31.204 135.815 L 53.871 113.148 C 63.228 103.791 78.393 103.773 87.772 113.108 L 242.518 267.129 L 397.263 113.108 C 406.642 103.773 421.807 103.791 431.164 113.148 L 453.831 135.815 C 463.204 145.188 463.204 160.384 453.831 169.756 L 259.489 364.1 C 250.116 373.472 234.92 373.472 225.547 364.1 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='24.174 106.118 436.686 265.01' width='436.686' height='265.01' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 225.547 364.1 L 31.204 169.756 C 21.831 160.383 21.831 145.187 31.204 135.815 L 53.871 113.148 C 63.228 103.791 78.393 103.773 87.772 113.108 L 242.518 267.129 L 397.263 113.108 C 406.642 103.773 421.807 103.791 431.164 113.148 L 453.831 135.815 C 463.204 145.188 463.204 160.384 453.831 169.756 L 259.489 364.1 C 250.116 373.472 234.92 373.472 225.547 364.1 Z'/%3E%3C/svg%3E");
}

header {
  font-family: 'Lato-Light';
}

header .wrapper .headerTop {
  background-color: #fff;
  z-index: 10;
  position: relative;
}

header .wrapper .headerTop .headerTopUpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

header .wrapper .headerTop .headerTopUpper .logo .regularLogo {
  display: none;
}

header .wrapper .headerTop .headerTopUpper .mobileLinksContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

header .wrapper .headerTop .headerTopUpper .mobileLinksContainer ul li {
  list-style-type: none;
  font-weight: 900;
}

header .wrapper .headerTop .headerTopUpper .mobileLinksContainer ul li img {
  width: 20px;
}

header .wrapper .headerTop .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper .headerTop .buttonContainer button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Lato-Black';
  border: 0px;
}

header .wrapper .headerTop .buttonContainer .applyNow {
  background-color: #e1e1e1;
}

header .wrapper .headerTop .buttonContainer .applyNow::before {
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1792 1824' style='enable-background:new 0 0 1792 1824;' xml:space='preserve'%3E%3Cpath d='M1764,43c22,16,31,37.3,27,64l-256,1536c-3.3,19.3-14,34.3-32,45c-9.3,5.3-19.7,8-31,8c-7.3,0-15.3-1.7-24-5l-527-215 l-298,327c-12,14-27.7,21-47,21c-9.3,0-17-1.3-23-4c-12.7-4.7-22.7-12.5-30-23.5s-11-23.2-11-36.5v-452L40,1115 c-24.7-9.3-38-27.7-40-55c-2-26,8.7-45.7,32-59L1696,41C1719.3,27,1742,27.7,1764,43z M1422,1542l221-1323L209,1046l336,137l863-639 l-478,797L1422,1542z'/%3E%3C/svg%3E");
  background-position: 0 9px;
  background-repeat: no-repeat;
  background-size: 22px;
  height: 45px;
  width: 30px;
  position: relative;
  vertical-align: middle;
}

header .wrapper .headerTop .buttonContainer .requestInfo {
  background-color: #b13;
  color: #fff;
}

header .wrapper .headerTop .buttonContainer .requestInfo::before {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='138.832 50.522 182.716 402' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(1, 0, 0, 1, 29.191046, 50.521725)'%3E%3Cg%3E%3Cpath d='M164.454,91.363h73.098c4.945,0,9.226-1.807,12.847-5.424c3.61-3.614,5.421-7.898,5.421-12.847V18.274 c0-4.948-1.811-9.229-5.428-12.85C246.777,1.812,242.49,0,237.544,0h-73.091c-4.946,0-9.229,1.812-12.847,5.424 c-3.615,3.617-5.424,7.902-5.424,12.85v54.818c0,4.949,1.809,9.233,5.424,12.847C155.224,89.556,159.507,91.363,164.454,91.363z' style='fill: rgb(255, 255, 255);'/%3E%3Cpath d='M286.936,334.331c-3.613-3.617-7.897-5.427-12.847-5.427h-18.274V164.452c0-4.947-1.807-9.229-5.421-12.845 c-3.62-3.617-7.904-5.426-12.847-5.426H127.912c-4.949,0-9.231,1.809-12.847,5.426c-3.618,3.616-5.424,7.898-5.424,12.845v36.547 c0,4.946,1.807,9.231,5.424,12.845c3.615,3.621,7.898,5.428,12.847,5.428h18.274v109.633h-18.274 c-4.949,0-9.231,1.81-12.847,5.427c-3.618,3.614-5.424,7.898-5.424,12.847v36.546c0,4.948,1.807,9.232,5.424,12.854 c3.615,3.61,7.898,5.421,12.847,5.421h146.177c4.949,0,9.233-1.811,12.847-5.421c3.614-3.621,5.421-7.905,5.421-12.854v-36.546 C292.357,342.229,290.56,337.945,286.936,334.331z' style='fill: rgb(255, 255, 255);'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 0 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  height: 45px;
  width: 21px;
  position: relative;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */