$text-color: #ffffff;
$main-text-color: #777777;
$title-text-color: #222222;
$section-background: #fafafa;
$section-white: #fff;
$quote-color-text: #9baed4;
$amazing-team-background: #111111;
$amazing-team-text: #696969;
$footer-background-color: #7690c5;
$placeholder-text-color: #c9c9c9;
