.menu_container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-gap: 3rem 2rem;

  justify-items: center;
}

.menu_item {
  max-width: 25rem;
  display: grid;
  gap: 1rem 2rem;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 225px 1fr;
  }
}

.menu_item_img {
  height: 200px;
  max-width: 400px;
  overflow: hidden;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: flex;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.menu_item_info_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
  h2 {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
    color: var(--clr-gold);
  }
}
