.menu_container {
  max-width: 1170px;
  display: grid;
  grid-gap: 3rem 2rem;
  justify-items: center;
}

.menu_item {
  max-width: 25rem;
  display: grid;
  gap: 1rem 2rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 225px 1fr;
    grid-gap: 0 1.25rem;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
}

.menu_item_img {
  height: 200px;
  max-width: 400px;
  overflow: hidden;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: flex;
  @media screen and (min-width: 768px) {
    height: 175px;
  }
  @media screen and (min-width: 1200px) {
    height: 150px;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.menu_item_info_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
  h4 {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    @media screen and (min-width: 800px) {
      font-size: 1rem;
      line-height: 1;
    }
  }
  p {
    font-size: 0.875rem;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--clr-gold);
    @media screen and (min-width: 800px) {
      font-size: 1rem;
      line-height: 1;
    }
  }
}

.menu_item_info_info {
  padding-top: 1rem;
  p {
    font-size: 0.875rem;
    color: var(--clr-grey-5);
    letter-spacing: 0;
    @media screen and (min-width: 800px) {
      font-size: 1rem;
    }
  }
}
