@import './variables';

.filterBtn {
	background: transparent;
	border-color: transparent;
	text-transform: capitalize;
	color: $golden-color;
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	line-height: 1;
	transition: all 0.3s linear;

	&:hover {
		background-color: $golden-color;
		color: $background-color;
	}
}

@media screen and (min-width: 768px) {
	.filterBtn {
		font-size: 1rem;
	}
}
