.logo {
    padding: 1rem 1rem 1rem 1rem;
}
.float-right {
    float: right;
}
.wrapper {
    margin: 0 auto 0 auto;
    max-width: 940px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.heading-p1 {
    font-weight: 300;
}
.heading-p2 {
    font-weight: 800;
}
.heading {
    font-size: 6rem;
}
.heading-padding {
    padding: 0 0 2rem 0;
}
.desc {
    font-size: 1.8rem;
    font-weight: 400;
}
.relative {
    position: relative;
}
.text-center {
    text-align: center;
}
.block {
    display: block;
}
.line-height{
    line-height: 2.5rem;
}
.footer-copyright {
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
}